[submodule "include/MLX42"]
	path = include/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "include/Libft"]
	path = include/Libft
	url = https://github.com/vminkmar/Libft.git
